
@{
    ViewBag.Title = "Nguyen Quang Nam - Index";
}

<h2>Nguyen Quang Nam - Index</h2>
<hr/>
<h3>Hien thi du lieu lay tu action trong controller</h3>
<h4>Fullname: @ViewBag.FullName</h4>
<h4>Ngay sinh: @ViewData["Birthady"]  </h4>
<h4>SDT: @TempData["Phone"]</h4>